<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ank9_WinUI.Properties.Settings.Setting" connectionString="server=DESKTOP-H4D7H0S\MSSQLSERVER1; database=NorthwindENG; uid=sa; pwd=123;" />
    </connectionStrings>
</configuration>